<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            display: block;
        }
    </style>
</head>

<body>
    <header>
        <h1>Call Page</h1>
    </header>

    <div>
        <p>Próximo paciente</p>
        <p>Nome: {{.Name}}</p>

        <div>
            <p>Lista dos proximos:</p>
            <ol>
                {{range .Next}}
                <li>{{.Name}}</li>
                {{end}}
        </div>
        <form>
            <input type="text" placeholder="Código de autorização" />
            <button type="submit"F>Chamar</button>
        </form>
    </div>
</body>
</html>