<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Sucesso!</h1>
    <div>
        <p>Obrigado por confiar no nosso serviço, {{ .Name}}</p>
        <p>Seu número identificador é: {{ .ID}}, lembre-se dele!</p>
        <p>Seu lugar na fila é: {{ .Place}}</p>
        <p>Importante, devido às nossas políticas a favor de pessoas em situação vulnerável, é importante destacar que o seu lugar na lista pode mudar conforme o tempo.</p>                                                                      
    </div>
</body>

</html>